/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

  

body {
    background-color: rgb(204, 49, 49);
    background-image: url(assets/backgr2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.card{
  width: 85%;
  max-width: calc(100vw - 30px);
  margin: 30px auto;
}
.header, .content {
    text-align: center;
    border: 3px solid rgba(17, 184, 81, 0.8);
    background-color: rgba(184, 80, 80, 0.76);
    border-radius: 20px;
    box-shadow: rgba(143, 34, 34, 0.8) 20px 20px 80px;
    height: auto;
    line-height: 1.5em;
   }


.header {
    width: 40%;
    padding: 13px; 
    float: left;
  }

.content {
    width: 40%;
    padding: 17px;
    float: right;
    margin-bottom: 30px;
 }

.profile-img {
    width: 50%;
    height: auto;
    border-radius: 40px;
    filter: grayscale(30%);
  }

.profile-img:hover{   
    transform: scale(1.1);
    transition: all 0.8s  ease-in-out;
    filter: grayscale(5%);
}

.second-img {
  width: 100%;
  height: auto;
  padding-top: 8px;
  border-radius: 40px;
  filter: grayscale(30%);   
}

.second-img:hover{   
  transform: scale(1.2);
  transition: all 0.8s  ease-in-out;
  filter: grayscale(5%);
}

ul {
    list-style-type: none;
    font-size: 25px;
  }
  
li {
    display: inline;
  }

.contact{
    border-top: 3px solid rgba(17, 184, 81, 0.8);
  }

.about{
    border-bottom: 3px solid rgba(17, 184, 81, 0.8);
    font-size: 15px;
    font-weight: 600;
  }

a{
    color: rgba(17, 184, 81, 0.8);
  }

.facebook:hover{
    color: blue;
  }

.instagram:hover{
    color: red;
  }

.email:hover{
    color: skyblue;
  }

h1{
  font-size: 25px;
  font-weight: 1200;
  color: rgba(17, 184, 81, 0.8);
}

h2{
  font-weight: 600;
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .header, .content {
    width: 49%;
  }
}

@media screen and (max-width: 600px) {
  .header, .content {
    width: 100%;
  }
}


    