/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-color: rgb(255, 255, 255);
    background-image: url(assets/backgr2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center ;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
  
  max-width: 100%;
  max-width: calc(100vw - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.head, .content {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border: 4px solid rgba(17, 184, 81, 0.8);
  }

.head {
    max-width: 27%;
    float: left;
    line-height: 23px;
    padding: 15px;
  }

.content {
    max-width: 40%;
    float: left;
    padding: 15px;
 }


.profile-img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    filter: grayscale(30%);
  }

.profile-img:hover{   
    transform: scale(1.1);
    transition: all 0.8s  ease-in-out;
    filter: grayscale(5%);
}

.second-img {
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  border-radius: 10%;
  filter: grayscale(30%);   
}

.second-img:hover{   
  transform: scale(1.2);
  transition: all 0.8s  ease-in-out;
  filter: grayscale(5%);
}


ul {
    list-style-type: none;
  }
  
li {
    display: inline;
  }

.head, .content {
    background-color: rgba(184, 80, 80, 0.76);
    border-radius: 10%;
    box-shadow: rgba(143, 34, 34, 0.8) 20px 20px 80px;
  }

.contact{
    border-top: 5px solid rgba(17, 184, 81, 0.8);
  }

.about{
    border-bottom: 5px solid rgba(17, 184, 81, 0.8);
    line-height: 2vw;
    font-size: 1vw;
    font-weight: 600;
  }

a{
    color: rgba(17, 184, 81, 0.8);
  }

.facebook:hover{
    color: blue;
  }

.instagram:hover{
    color: red;
  }

.email:hover{
    color: skyblue;
  }

h1{
  font-size: 2vw;
  font-weight: 1200;
  color: rgba(17, 184, 81, 0.8);
}

h2{
  font-weight: 600;
  font-size: 1vw;
}


    